{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<div class="container">
  <h1>Asistencia a Eventos Académicos</h1>
  
  <ul>
    {% for asistencia in asistencias %}
      <li>
        <strong>Nombre Evento:</strong> {{ asistencia.nombre_evento }}<br>
        <strong>Año:</strong> {{ asistencia.anio }}<br>
        <strong>Tipo Participación:</strong> {{ asistencia.tipo_participacion }}<br>
        <strong>Ámbito:</strong> {{ asistencia.ambito }}<br>
        <strong>Organizadores:</strong> {{ asistencia.organizadores }}
      </li>
    {% empty %}
      <li>No hay registros de asistencia a eventos académicos.</li>
    {% endfor %}
  </ul>
  
  <h3>Agregar Asistencia a Evento Académico</h3>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Guardar</button>
  </form>
</div>
{% endblock %}