{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<div class="container">
  <h1>Experiencia Laboral</h1>
  
  <h2>Docencia</h2>
  <ul>
    {% for docencia in docencias %}
      <li>
        <strong>Nombre Institución:</strong> {{ docencia.nombre_institucion }}<br>
        <strong>Tipo Institución:</strong> {{ docencia.get_tipo_institucion_display }}<br>
        <strong>Fecha Inicio:</strong> {{ docencia.fecha_inicio }}<br>
        <strong>Fecha Finalización:</strong> {{ docencia.fecha_finalizacion }}
      </li>
    {% empty %}
      <li>No hay registros de docencia.</li>
    {% endfor %}
  </ul>
  
  <h3>Agregar Docencia</h3>
  <form method="post">
    {% csrf_token %}
    {{ form_docencia.as_p }}
    <button type="submit">Guardar</button>
  </form>
  
  <h2>Cargos</h2>
  <ul>
    {% for cargo in cargos %}
      <li>
        <strong>Cargo:</strong> {{ cargo.get_cargo_display }}
      </li>
    {% empty %}
      <li>No hay registros de cargos.</li>
    {% endfor %}
  </ul>
  
  <h3>Agregar Cargo</h3>
  <form method="post">
    {% csrf_token %}
    {{ form_cargo.as_p }}
    <button type="submit">Guardar</button>
  </form>
  
  <h2>Editorial</h2>
  <ul>
    {% for editorial in editoriales %}
      <li>
        <strong>Empresa Editorial:</strong> {{ editorial.empresa_editorial }}<br>
        <strong>Fecha Inicio:</strong> {{ editorial.fecha_inicio }}<br>
        <strong>Fecha Finalización:</strong> {{ editorial.fecha_finalizacion }}
      </li>
    {% empty %}
      <li>No hay registros de editorial.</li>
    {% endfor %}
  </ul>
  
  <h3>Agregar Editorial</h3>
  <form method="post">
    {% csrf_token %}
    {{ form_editorial.as_p }}
    <button type="submit">Guardar</button>
  </form>
  
  <h2>Asesor Pedagógico</h2>
  <ul>
    {% for asesor in asesores_pedagogicos %}
      <li>
        <strong>Institución:</strong> {{ asesor.institucion }}<br>
        <strong>Fecha Inicio:</strong> {{ asesor.fecha_inicio }}<br>
        <strong>Fecha Finalización:</strong> {{ asesor.fecha_finalizacion }}
      </li>
    {% empty %}
      <li>No hay registros de asesor pedagógico.</li>
    {% endfor %}
  </ul>
  
  <h3>Agregar Asesor Pedagógico</h3>
  <form method="post">
    {% csrf_token %}
    {{ form_asesor_pedagogico.as_p }}
    <button type="submit">Guardar</button>
  </form>
  
  <h2>Clases Particulares</h2>
  <ul>
    {% for clase in clases_particulares %}
      <li>
        <strong>Fecha Inicio:</strong> {{ clase.fecha_inicio }}<br>
        <strong>Fecha Finalización:</strong> {{ clase.fecha_finalizacion }}
      </li>
    {% empty %}
      <li>No hay registros de clases particulares.</li>
    {% endfor %}
  </ul>
  
  <h3>Agregar Clases Particulares</h3>
  <form method="post">
    {% csrf_token %}
    {{ form_clases_particulares.as_p }}
    <button type="submit">Guardar</button>
  </form>
</div>
{% endblock %}