{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<div class="container">
  <h1>Investigación</h1>
  
  <ul>
    {% for investigacion in investigaciones %}
      <li>
        <strong>Título Proyecto:</strong> {{ investigacion.titulo_proyecto }}<br>
        <strong>Año Inicio:</strong> {{ investigacion.anio_inicio }}<br>
        <strong>Año Finalización:</strong> {{ investigacion.anio_finalizacion }}<br>
        <strong>Grupo Investigación:</strong> {{ investigacion.grupo_investigacion }}<br>
        <strong>Entidad Financiadora:</strong> {{ investigacion.entidad_financiadora }}
      </li>
    {% empty %}
      <li>No hay registros de investigación.</li>
    {% endfor %}
  </ul>
  
  <h3>Agregar Investigación</h3>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Guardar</button>
  </form>
</div>
{% endblock %}