{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<div class="container">
  <h1>Participación en Redes</h1>
  
  <ul>
    {% for participacion in participaciones_redes %}
      <li>
        <strong>Nombre Red:</strong> {{ participacion.nombre_red }}<br>
        <strong>Año Inicio:</strong> {{ participacion.anio_inicio }}<br>
        <strong>Año Finalización:</strong> {{ participacion.anio_finalizacion }}
      </li>
    {% empty %}
      <li>No hay registros de participación en redes.</li>
    {% endfor %}
  </ul>
  
  <h3>Agregar Participación en Red</h3>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Guardar</button>
  </form>
</div>
{% endblock %}