{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<div class="container">
  <h1>Participación en Organizaciones</h1>
  
  <ul>
    {% for participacion in participaciones_organizaciones %}
      <li>
        <strong>Nombre Organización:</strong> {{ participacion.nombre_organizacion }}<br>
        <strong>Tipo Organización:</strong> {{ participacion.tipo_organizacion }}<br>
        <strong>Función Organización:</strong> {{ participacion.funcion_organizacion }}<br>
        <strong>Año Inicio:</strong> {{ participacion.anio_inicio }}<br>
        <strong>Año Finalización:</strong> {{ participacion.anio_finalizacion }}
      </li>
    {% empty %}
      <li>No hay registros de participación en organizaciones.</li>
    {% endfor %}
  </ul>
  
  <h3>Agregar Participación en Organización</h3>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Guardar</button>
  </form>
</div>
{% endblock %}