{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<div class="container">
  <h1>Productividad Académica</h1>
  
  <h2>Libros</h2>
  <ul>
    {% for libro in libros %}
      <li>
        <strong>Título:</strong> {{ libro.titulo }}<br>
        <strong>Año Publicación:</strong> {{ libro.anio_publicacion }}<br>
        <strong>Editorial:</strong> {{ libro.editorial }}
      </li>
    {% empty %}
      <li>No hay registros de libros.</li>
    {% endfor %}
  </ul>
  
  <h3>Agregar Libro</h3>
  <form method="post">
    {% csrf_token %}
    {{ form_libro.as_p }}
    <button type="submit">Guardar</button>
  </form>
  
  <h2>Textos Educativos</h2>
  <ul>
    {% for texto in textos_educativos %}
      <li>
        <strong>Título:</strong> {{ texto.titulo }}<br>
        <strong>Año Publicación:</strong> {{ texto.anio_publicacion }}<br>
        <strong>Editorial:</strong> {{ texto.editorial }}
      </li>
    {% empty %}
      <li>No hay registros de textos educativos.</li>
    {% endfor %}
  </ul>
  
  <h3>Agregar Texto Educativo</h3>
  <form method="post">
    {% csrf_token %}
    {{ form_texto_educativo.as_p }}
    <button type="submit">Guardar</button>
  </form>
  
  <h2>Artículos</h2>
  <ul>
    {% for articulo in articulos %}
      <li>
        <strong>Título:</strong> {{ articulo.titulo }}<br>
        <strong>Año Publicación:</strong> {{ articulo.anio_publicacion }}<br>
        <strong>Revista:</strong> {{ articulo.revista }}
      </li>
    {% empty %}
      <li>No hay registros de artículos.</li>
    {% endfor %}
  </ul>
  
  <h3>Agregar Artículo</h3>
  <form method="post">
    {% csrf_token %}
    {{ form_articulo.as_p }}
    <button type="submit">Guardar</button>
  </form>
  
  <h2>Ponencias en Memoria</h2>
  <ul>
    {% for ponencia in ponencias_en_memoria %}
      <li>
        <strong>Título:</strong> {{ ponencia.titulo }}<br>
        <strong>Año Publicación:</strong> {{ ponencia.anio_publicacion }}<br>
        <strong>Evento:</strong> {{ ponencia.evento }}<br>
        <strong>Ciudad/País:</strong> {{ ponencia.ciudad_pais }}
      </li>
    {% empty %}
      <li>No hay registros de ponencias en memoria.</li>
    {% endfor %}
  </ul>
  
  <h3>Agregar Ponencia en Memoria</h3>
  <form method="post">
    {% csrf_token %}
    {{ form_ponencia_en_memoria.as_p }}
    <button type="submit">Guardar</button>
  </form>
</div>
{% endblock %}