{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<div class="container">
  <h1>Reconocimientos Académicos</h1>
  
  <ul>
    {% for reconocimiento in reconocimientos %}
      <li>
        <strong>Tipo Reconocimiento:</strong> {{ reconocimiento.tipo_reconocimiento }}<br>
        <strong>Quien Otorga:</strong> {{ reconocimiento.quien_otorga }}<br>
        <strong>Año:</strong> {{ reconocimiento.anio }}
      </li>
    {% empty %}
      <li>No hay registros de reconocimientos académicos.</li>
    {% endfor %}
  </ul>
  
  <h3>Agregar Reconocimiento Académico</h3>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Guardar</button>
  </form>
</div>
{% endblock %}
